// COLOR
$color--primary: #113995;
$color--primary-light: #6680c0;
$color--background: #0e0f15;

$color--text: #efefef;
$color--text-gray: #e7e5ea;

$color--white: #fff;
$color--black: #000;

$color--accent-red: #c20a0a;

$color--dark: #333333;

// WIDTH

// FONT SIZE
$font-size--default: 1.6rem;
