@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  & nav ul {
    display: flex;
    gap: 2rem;
    font-size: 1.8rem;

    @include respond(sm) {
      font-size: 1.6rem;
    }
  }

  & nav li {
    position: relative;
    padding: 4px 0;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      transform: translateX(-50%);
      height: 2px;
      background-color: $color--primary;
      transition: all 0.2s;
    }

    &:hover::after,
    &.active::after {
      width: 80%;
    }

    &.active span {
      font-weight: 600;
      color: $color--primary;
      transition: all 0.2s;
    }
  }
}
