@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  & nav ul {
    display: flex;
    gap: 2rem;
    font-size: 1.8rem;

    @include respond(sm) {
      font-size: 1.6rem;
    }
  }

  & nav li {
    position: relative;
    padding: 4px 0;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      transform: translateX(-50%);
      height: 2px;
      background-color: $color--primary;
      transition: all 0.2s;
    }

    &:hover::after,
    &.active::after {
      width: 80%;
    }

    &.active span {
      font-weight: 600;
      color: $color--primary;
      transition: all 0.2s;
    }
  }
}

.user-popup {
  background-color: $color--background;
  min-width: 20rem;
  min-height: 40px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 4px rgba(#fff, 0.23);

  &__list {
  }

  &__item {
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
      font-weight: 500;
    }
  }
}
