// form
@use '../../../sass/variables' as *;
@use '../../../sass/mixins' as *;

.search-box form {
  display: flex;
  align-items: center;
  gap: 12px;
  // margin-bottom: 1rem;

  & > input,
  button {
    outline: none;
    border: none;
    background-color: transparent;
  }

  & > input {
    display: inline-block;
    flex: 1;
    color: $color--white;
    font-size: 2rem;
  }

  & > input::placeholder {
    color: rgba($color--white, 0.7);
    padding: 8px 0;
    font-size: 1.8rem;
  }

  & > button {
    color: $color--white;
    font-size: 2.2rem;
    transform: translateY(2px);
  }
}

.search-box {
  position: relative;
  background-color: $color--dark;
  padding: 12px 24px;
  border-radius: 99px;

  @include respond(sm) {
    padding: 6px 12px;
  }

  &.expand {
    border-radius: 26px;
    border-radius: 26px 26px 0 0;
  }

  &__results {
    position: absolute;
    background-color: $color--dark;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 1.2rem 1.6rem;
    border-radius: 0 0 26px 26px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 85%;
      transform: translateX(-50%);
      background-color: #ccc;
      height: 1px;
    }
  }

  &__result {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 0;

    cursor: pointer;
    opacity: 0.7;
    transition: all 0.2s;
    font-size: 2rem;

    &:hover {
      opacity: 1;
      color: #fff;
    }
  }
}
